@model ProjectTreinritten.ViewModels.BoekenVM

@{
    ViewData["Title"] = "Boeken";
}

<div class="container">
    <h2>Boeken</h2>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="KiezenRit">
                <!--asp-validation-summary="ModelOnly" veranderd naar "All" -->
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Vertrekpunt" class="control-label">Vertrekpunt*</label>
                    <select asp-for="Vertrekpunt" class="form-control" asp-items="ViewBag.StationLijst" onchange="removeSelectedStation()" id="Vertrekpunt">
                        <option selected disabled value="0">Gelieve een station te selecteren</option>
                    </select>
                    <span asp-validation-for="Vertrekpunt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Eindpunt" class="control-label">Eindpunt*</label>
                    <select asp-for="Eindpunt" class="form-control" asp-items="ViewBag.StationLijst" onchange="setHotels()" id="Eindpunt">
                        <option selected disabled value="0">Gelieve een station te selecteren</option>
                    </select>
                    <span asp-validation-for="Eindpunt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Klasse" class="control-label">Klasse*</label>
                    <select asp-for="Klasse" class="form-control">
                        <option selected disabled>Gelieve een klasse te selecteren</option>
                        <option value="Economic">Economic</option>
                        <option value="Business">Business</option>
                    </select>
                    <span asp-validation-for="Klasse" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AantalPersonen" class="control-label">Aantal personen*</label>
                    <select asp-for="AantalPersonen" class="form-control" id="aantalPersonen" onchange="changeVelden()">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <div class="form-group" id="voornaam1">
                    <label asp-for="Voornamen" class="control-label">Voornaam*</label>
                    <input asp-for="Voornamen[0]" class="form-control" />
                </div>
                <div class="form-group" id="naam1">
                    <label asp-for="Namen" class="control-label">Naam*</label>
                    <input asp-for="Namen[0]" class="form-control" />
                </div>
                <div class="form-group" id="voornaam2">
                    <label asp-for="Voornamen" class="control-label">Voornaam persoon 2*</label>
                    <input asp-for="Voornamen[1]" class="form-control" />
                </div>
                <div class="form-group" id="naam2">
                    <label asp-for="Namen" class="control-label">Naam persoon 2*</label>
                    <input asp-for="Namen[1]" class="form-control" />
                </div>
                <div class="form-group" id="voornaam3">
                    <label asp-for="Voornamen" class="control-label">Voornaam persoon 3*</label>
                    <input asp-for="Voornamen[2]" class="form-control" />
                </div>
                <div class="form-group" id="naam3">
                    <label asp-for="Namen" class="control-label">Naam persoon 3*</label>
                    <input asp-for="Namen[2]" class="form-control" />
                </div>
                <div class="form-group" id="voornaam4">
                    <label asp-for="Voornamen" class="control-label">Voornaam persoon 4*</label>
                    <input asp-for="Voornamen[3]" class="form-control" />
                </div>
                <div class="form-group" id="naam4">
                    <label asp-for="Namen" class="control-label">Naam persoon 4*</label>
                    <input asp-for="Namen[3]" class="form-control" />
                </div>
                <div class="form-group" id="voornaam5">
                    <label asp-for="Voornamen" class="control-label">Voornaam persoon 5*</label>
                    <input asp-for="Voornamen[4]" class="form-control" />
                </div>
                <div class="form-group" id="naam5">
                    <label asp-for="Namen" class="control-label">Naam persoon 5*</label>
                    <input asp-for="Namen[4]" class="form-control" />
                </div>
                <div class="form-group" id="voornaam6">
                    <label asp-for="Voornamen" class="control-label">Voornaam persoon 6*</label>
                    <input asp-for="Voornamen[5]" class="form-control" />
                </div>
                <div class="form-group" id="naam6">
                    <label asp-for="Namen" class="control-label">Naam persoon 6*</label>
                    <input asp-for="Namen[5]" class="form-control" />
                </div>
                <div class="form-group" id="voornaam7">
                    <label asp-for="Voornamen" class="control-label">Voornaam persoon 7*</label>
                    <input asp-for="Voornamen[6]" class="form-control" />
                </div>
                <div class="form-group" id="naam7">
                    <label asp-for="Namen" class="control-label">Naam persoon 7*</label>
                    <input asp-for="Namen[6]" class="form-control" />
                </div>
                <div class="form-group" id="voornaam8">
                    <label asp-for="Voornamen" class="control-label">Voornaam persoon 8*</label>
                    <input asp-for="Voornamen[7]" class="form-control" />
                </div>
                <div class="form-group" id="naam8">
                    <label asp-for="Namen" class="control-label">Naam persoon 8*</label>
                    <input asp-for="Namen[7]" class="form-control" />
                </div>
                <div class="form-group" id="voornaam9">
                    <label asp-for="Voornamen" class="control-label">Voornaam persoon 9*</label>
                    <input asp-for="Voornamen[8]" class="form-control" />
                </div>
                <div class="form-group" id="naam9">
                    <label asp-for="Namen" class="control-label">Naam persoon 9*</label>
                    <input asp-for="Namen[8]" class="form-control" />
                </div>
                <div class="form-group" id="voornaam10">
                    <label asp-for="Voornamen" class="control-label">Voornaam persoon 10*</label>
                    <input asp-for="Voornamen[9]" class="form-control" />
                </div>
                <div class="form-group" id="naam10">
                    <label asp-for="Namen" class="control-label">Naam persoon 10*</label>
                    <input asp-for="Namen[9]" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Vertrekdatum" class="control-label">Vertrekdatum*</label>
                    <input asp-for="Vertrekdatum" class="form-control" type="text" id="datepicker" autocomplete="off" />
                </div>
                <div class="form-group">
                    <label asp-for="HotelId" class="control-label">Hotelnaam</label>
                    <select asp-for="HotelId" class="form-control" asp-items="ViewBag.HotelLijst" id="Hotel">
                        <option value="0">Gelieve een hotel te selecteren</option>
                    </select>
                    <span asp-validation-for="HotelId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Boeken" class="btn btn-default fancyButton" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        $(function () {
            $("#datepicker").datepicker({
                //minDate = 0 zodat men geen datum van het verleden kan selecteren
                minDate: "+0w",
                //maxDate mag maximum 2 weken in de toekomst liggen
                maxDate: "+2w",
                dateFormat: "yy-mm-dd",
            });

        });
        //deze functie zorgt ervoor dat er meer of minder inpuntvelden komen als aantalPersonen wijzigt
        const changeVelden = () => {
            for (let i = 1; i <= $("#aantalPersonen").children("option:selected").val(); i++) {
                $("#naam" + i).show();
                $("#voornaam" + i).show();
            }
            for (let i = 10; i > $("#aantalPersonen").children("option:selected").val(); i--) {
                $("#naam" + i).hide();
                $("#voornaam" + i).hide();
            }
        }

        const removeSelectedStation = () => {
            $('#Eindpunt option').each(function (index, element) {
                if (element.value != $("#Vertrekpunt").children("option:selected").val() || element.value == 0) {
                    element.style.display = "block"
                }
                else {
                    element.style.display = "none"
                }
            });
            $("#Eindpunt").val(0)
        }

        const setHotels = () => {
            let stationId = $("#Eindpunt").children("option:selected").val(); 
            hotel1 = ((stationId - 1) * 3) + 1
            hotel2 = ((stationId - 1) * 3) + 2
            hotel3 = ((stationId - 1) * 3) + 3
            $('#Hotel option').each(function (index, element) {
                if (element.value == hotel1 || element.value == 0 || element.value == hotel2 || element.value == hotel3) {
                    element.style.display = "block"
                }
                else {
                    element.style.display = "none"
                }
            });
            $("#Hotel").val(0)
        }


        const setDestination = () => {
            if (localStorage.getItem("destinationId") != null) {
                //vertrekken vanuit Brussel
                $("#Vertrekpunt").val(3)
                removeSelectedStation()
                //naar locatie die opgeslagen in in localStorage
                $("#Eindpunt").val(parseInt(localStorage.getItem("destinationId")))
                setHotels()
                localStorage.removeItem("destinationId")
            }
        }
        //indien er een destinationId in localStorage zit zal deze ingeladen worden
        window.addEventListener("load", setDestination())
        //hotels instellen voor  de destination indien deze al ingevuld is 
        window.addEventListener("load", setHotels())
           //deze functie zorgt ervoor dat er maar 1 inputveld zichtbaar is als de pagina inlaad.
        window.addEventListener("load", changeVelden())
    </script>
    }



