<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Over</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-12 headerTxt">
            <div>Dit project is gemaakt door Pieter Debaere en Gilles Verstraeten in opdracht van meneer De Waele voor het vak Web Development.</div>
            <div>Hierbij kregen wij de opdracht een e-commerce site te bouwen waar het mogelijk is TGV tickets te boeken naar 7 verschillende Europese steden.</div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <img class="profielfoto" src="~/images/gilles.jpeg" />
            <div class="namen">Gilles Verstraeten</div>
            <div class="beschrijving">Student Toegepaste Informatica</div>
        </div>
        <div class="col-6">
            <img class="profielfoto" src="~/images/pieter.jpg" />
            <div class="namen">Pieter Debaere</div>
            <div class="beschrijving">Student Toegepaste Informatica</div>
        </div>
    </div>
</div>

