<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectTreinritten</title>

    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Treinritten.css" rel="stylesheet" />
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <a asp-action="Index">
                        <img src="~/images/logo.png" id="logo" />
                    </a>
                </div>
                <div class="col-10">
                    <nav>
                        <ul>
                            <li><a asp-action="Registreer"><div>Registreren</div></a></li>
                            <li><a asp-action="Inloggen"><div>Aanmelden</div></a></li>
                            <li>
                                <a asp-action="Winkelkar">
                                    <img src="~/images/cart.png" id="winkelkar" />
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-12 txt20px" id="bottomNav">
                    <nav>
                        <ul>
                            <li><a asp-action="Boeken"><div>Boeken</div></a></li>
                            <li><a asp-action="Over"><div>Over</div></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
