@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectTreinritten</title>

    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Treinritten.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <header>
        <div class="container">
            @if (SignInManager.IsSignedIn(User))
            {
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Trein", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
                    <div class="row">
                        <div class="col-2">
                            <a asp-controller="Trein"  asp-action="Index">
                                <img src="~/images/logo.png" id="logo" />
                            </a>
                        </div>
                        <div class="col-10">
                            <nav>
                                <ul>
                                    <li>
                                        <div style="color:white"> <button class="normalLook" type="submit">Afmelden</button></div>
                                    </li>
                                    <li>
                                        <a class="white"><div style="color:white">Mijn account</div></a>
                                    </li>
                                    <li>
                                        <a asp-controller="Trein" asp-action="Winkelkar">
                                            <img src="~/images/cart.png" id="winkelkar" />
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 txt20px" id="bottomNav">
                            <nav>
                                <ul>
                                    <li><a asp-controller="Trein" asp-action="Boeken"><div class="white">Boeken</div></a></li>
                                    <li><a asp-controller="Trein" asp-action="Over"><div class="white">Over</div></a></li>
                                    <li>
                                        <a asp-controller="Trein" asp-action="Contact">
                                            <div class="white">Contact</div>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Trein" asp-action="Historiek">
                                            <div class="white">Historieken</div>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </form>
            }
            else
            {
                <div class="row">
                    <div class="col-2">
                        <a asp-action="Index">
                            <img src="~/images/logo.png" id="logo" />
                        </a>
                    </div>
                    <div class="col-10">
                        <nav>
                            <ul>
                                <li><a asp-area="Identity" asp-page="/Account/Register"><div class="white">Registreren</div></a></li>
                                <li><a asp-area="Identity" asp-page="/Account/Login"><div class="white">Aanmelden</div></a></li>
                                <li>
                                    <a asp-controller="Trein" asp-action="Winkelkar" class="white">
                                        <img src="~/images/cart.png" id="winkelkar" />
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 txt20px" id="bottomNav">
                        <nav>
                            <ul>
                                <li><a asp-controller="Trein" asp-action="Boeken"><div class="white">Boeken</div></a></li>
                                <li><a asp-controller="Trein" asp-action="Over"><div class="white">Over</div></a></li>
                                <li>
                                    <a asp-controller="Trein" asp-action="Contact">
                                        <div class="white">Contact</div>
                                    </a>
                                </li>
                                <li>
                                    <a asp-controller="Trein" asp-action="Historiek">
                                        <div class="white">Historieken</div>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            }
        </div>
    </header>
    <div class="container">
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
