@model ProjectTreinritten.Domain.Entities.Zetels

@{
    ViewData["Title"] = "Payment";
}

<h2>Payment</h2>

<h4>Zetels</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div>
            Bedankt om te boeken! Hieronder vind u de zetel nummers per rit
        </div>
        <div class="form-group">
            <div>
                Voor uw eerste rit is uw zetelnummer:
            </div>
            <label asp-for="Rit1Zetel" class="control-label"></label>
            <input asp-for="Rit1Zetel" class="form-control" />
            <span asp-validation-for="Rit1Zetel" class="text-danger"></span>
        </div>
        
    </div>
</div>


