@model ProjectTreinritten.ViewModel.ShoppingCartVM

@{
    ViewData["Title"] = "Payment";
}

<h2>Payment</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <div>
            Bedankt om te boeken! Hieronder vind u de zetel nummers per rit
        </div>
        @foreach(var item in Model.Cart)
        {
            <div class="row">
                Naam: @item.Naam
                VoorNaam: @item.Voornaam
            </div>
        }

    </div>
</div>


