@model ProjectTreinritten.Domain.Entities.Zetels

@{
    ViewData["Title"] = "Payment";
}

<h2>Payment</h2>

<h4>Zetels</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div>
            Bedankt om te boeken! Hieronder vind u de zetel nummers per rit
        </div>
    </div>
</div>


