@model ProjectTreinritten.Domain.Entities.Station

@{
    ViewData["Title"] = "TeWeinigPlaatsen";
}

<h2>TeWeinigPlaatsen</h2>

<div>
    Onze excuses voor het ongemak, maar u probeert een ticket te boeken op een volboekte trein namelijk:
    de trein vertrekkende uit @Model.StationNaam   
</div>
<div>
    gelieve een andere boeking te maken!
</div>

